In [2]:


    import pandas as pd
    import numpy as np
     
    file_path = 'Student.csv'
    data = pd.read_csv(file_path)
    print("Original Dataset:")
    print(data)
    print("\n")
    data['Name'].fillna('ABC', inplace=True)
    means = data[['M1', 'M2', 'M3', 'M4']].apply(pd.to_numeric, errors='coerce').mean()
    for col in ['M1', 'M2', 'M3', 'M4']:
        data[col] = pd.to_numeric(data[col], errors='coerce').fillna(means[col])
    print("Modified Dataset:")
    print(data)

Original Dataset:
   ID     Name    M1    M2    M3    M4
0   1    Bhanu  60.0  76.0  87.0  37.0
1   2    Rahul  76.0  67.0  58.0  64.0
2   3    Manas  86.0  45.0   NaN  87.0
3   4    Saanu  98.0   NaN  33.0  43.0
4   5      NaN  47.0  87.0  87.0  67.0
5   6    Biswa   NaN  79.0  68.0  56.0
6   7    Anshu  56.0  45.0   NaN  83.0
7   8  Sourabh   NaN  73.0  47.0   NaN
8   9   Subham  88.0  65.0  97.0   NaN
9  10      NaN  68.0  48.0  37.0  45.0


Modified Dataset:
   ID     Name      M1    M2     M3     M4
0   1    Bhanu  60.000  76.0  87.00  37.00
1   2    Rahul  76.000  67.0  58.00  64.00
2   3    Manas  86.000  45.0  64.25  87.00
3   4    Saanu  98.000  65.0  33.00  43.00
4   5      ABC  47.000  87.0  87.00  67.00
5   6    Biswa  72.375  79.0  68.00  56.00
6   7    Anshu  56.000  45.0  64.25  83.00
7   8  Sourabh  72.375  73.0  47.00  60.25
8   9   Subham  88.000  65.0  97.00  60.25
9  10      ABC  68.000  48.0  37.00  45.00